body {
    background-image: linear-gradient(100deg, rgb(0, 255, 255) 20%, rgb(225, 0, 255) 50%);
    font-family: 'Comic Sans MS';
    color: rgb(225, 0, 255);
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: rgb(0, 255, 255);
}

input:hover {
    border-style: solid;
    border-color: rgb(225, 0, 255);

}

input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: rgb(0, 255, 255);

}

button[type=submit] {
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border-color: rgb(0, 255, 255);
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    border-style: solid;
    border-color: rgb(225, 0, 255);
}
div {
    width: 20%;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 20px;
    margin-left: 35%;
    margin-top: 10%;
    border-style: solid;
    border-color: rgb(225, 0, 255);
    
}

h2 {
    text-align: center;
    color: rgb(0, 255, 255);
    
}

input[type=checkbox],
select {
    box-sizing: border-box;
    color: rgb(225, 0, 255);
}